################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/api/bin/Debug/netcoreapp3.1
/api/api/obj
/api/Web/bin/Debug/netcoreapp3.1
/api/Application/obj
